<div class="error">
    <h1 class="text-info errorText">Sorry, whatever you were looking for was NOT FOUND.</h1>
    <a class="btn btn-outline-success" asp-controller="Actors" asp-action="Index">Click to go back to Actors Page</a>
</div>
